html,
body {
  min-height: 100vh;
}
.container_ {
  display: flex;
  flex-direction: column;
}
#chat,
#members {
  position: absolute;
  z-index: 5px;
  right: 0;
  top: 0;
  bottom: 70px;
  width: 350px;
  border: 2px solid;

  flex-direction: column-reverse;
}
@media only screen and (max-width: 450px) {
  /* For mobile phones: */
  #chat,
  #members {
    width: 100%;
  }
}
.remoteVideo {
  width: 250px;
  border: 2px solid green;
  border-radius: 5px;
  margin: 5px;
  flex-grow: 1;
  max-height: 80vh;
}
#remoteVideos {
  overflow-y: scroll;
  flex-wrap: wrap;
  display: flex;
  max-height: 90vh;
  overflow-y: scroll;
}

#localVideo {
  position: absolute;
  position: fixed;
  z-index: 3px;
  left: 0;
  bottom: 75px;
  background-color: black;
  width: 250px;
  border: 2px solid;
}
.sc {
  visibility: hidden;
}
#localvideocontrol {
  position: absolute;
  position: fixed;

  bottom: 75px;
}
ul {
  list-style: none;
}

ul#members:empty:after {
  font-weight: 100;
  font-style: italic;
  content: "Room is empty";
}

li {
  margin: 5px;
}
